<!DOCTYPE html>
<html>

  {{ partial "head.html" }}

  <body>

    {{ partial "header.html" . }}

    <div class="container">
      <div class="wrapper">
        { content }}
        {{ .Site.Title }}
      </div>
    </div>

    {include "footer.html" }}
    

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/bootstrap.min.js"></script>
 { if site.analytics %}{% include analytics.html %}{% endif %}
  </body>

</html>